node_modules
bin/test.js
examples
bin/test2.js
.editorconfig
.eslintrc.js
yarn-error.log
yarn.lock
.DS_Store
.npmrc
.prettierrc
out.gif
src
__tests__
.babelrc
.eslintignore
.gitignore
.travis.yml
Makefile
package-lock.json
package.json
