<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>torrent-parser</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.0/css/bulma.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
</head>

<body>
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-start">
      <div class="level-right">
        <div class="field is-grouped">
          <p class="control">
            <p class="level-item ">
              <a class="link is-info">
                <h2> <a href="{{ url_for('index')}}"> Parser torrents  w/o adv</a>
                  
                </h2>
              </a>
            </p>
          </p>
        </div>
      </div>
    </div>


    <div class="navbar-end">
      <div class="level-right">
        <div class="field is-grouped">
          <p class="control">
            <p class="level-item ">
              <a href="https://github.com/Belvedersky/mac-torrent-download.net-parser/tree/flaskParser" class="link is-info">Github</a>
            </p>
            <p class="level-item">
              <a class="link is-info">Categories</a>
            </p>
            <p class="level-item ">
              <a class="link is-info">About</a>
            </p>
          </p>
        </div>
      </div>
    </div>
  </nav>


  <section class="hero ">
    <div class="hero-body  is-centered">
        <div class="container is-centered">
          <div class="columns is-centered">

            {% if getMethod %}
              {% block form %}
               {% endblock %}
              </div>
            </div>
        </div>
      </section>
             
            {% else %}
              {% block result %}
                {% endblock %}
            
          </div>
        </div>
      </section>
    </div>
  </section>

  <footer class="footer">
    <div class="container">
      <div class="content has-text-centered">
        <p>
          Simple torrent-parser
        </p>
      </div>
    </div>
  </footer>
  {% endif %}
</body>
</html>